.u-section-1 .u-sheet-1 {
  min-height: 384px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 31px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 264px;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 18px;
}

.u-section-1 .u-text-2 {
  font-size: 1.27778rem;
  margin: 0 12px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 264px;
  height: 263px;
  --radius: 14px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-1 .u-image-1 {
    width: 219px;
    height: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 167px;
  }

  .u-section-1 .u-image-1 {
    width: 168px;
    height: 167px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1358044444444444rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-1 .u-image-1 {
    width: 322px;
    height: 320px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 202px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1114px;
}

.u-section-2 .u-text-1 {
  margin: 11px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 1118px;
  margin: 20px auto 30px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 499px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 30px 45px 0 15px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1129px;
  margin: 0 -6px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 368px;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 0;
}

.u-section-2 .u-text-3 {
  margin: 0 0 0 42px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 368px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 14px;
}

.u-section-2 .u-gallery-1 {
  height: 369px;
  width: 426px;
  margin: 0 0 -1px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-1 {
  width: 426px;
  height: 100px;
  padding: 5px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-2 {
  width: 426px;
  height: 100px;
  padding: 5px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-3 {
  width: 426px;
  height: 100px;
  padding: 5px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-4 {
  width: 426px;
  height: 100px;
  padding: 5px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-5 {
  width: 426px;
  height: 100px;
  padding: 5px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 117px;
  padding: 4px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  top: 117px;
  padding: 4px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 499px;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-4 {
  margin: 30px 15px 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1129px;
  margin: 0 auto 0 -11px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 392px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-2 .u-text-5 {
  margin: 14px 9px 0 40px;
}

.u-section-2 .u-text-6 {
  text-decoration: underline !important;
  margin: 12px 0 0 66px;
}

.u-section-2 .u-text-7 {
  margin: 8px 0 0 66px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 392px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 11px 19px;
}

.u-section-2 .u-image-1 {
  width: 346px;
  height: 341px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 499px;
  height: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-8 {
  margin: 30px 15px 0;
}

.u-section-2 .u-layout-wrap-3 {
  width: 1103px;
  margin: 11px 0 0 auto;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 663px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  margin: 0 0 0 32px;
}

.u-section-2 .u-text-10 {
  text-decoration: underline !important;
  margin: 11px 1px 0 52px;
}

.u-section-2 .u-text-11 {
  margin: 7px 0 0 52px;
}

.u-section-2 .u-btn-1 {
  font-size: 20.25px;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 20.25px;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-12 {
  text-decoration: underline !important;
  margin: 11px 0 0 51px;
}

.u-section-2 .u-text-13 {
  margin: 11px 0 0 51px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 663px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 270px;
  height: 416px;
  margin: 0 auto;
}

.u-section-2 .u-video-1 {
  width: 270px;
  height: 212px;
  margin: 33px auto 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 746px;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-14 {
  margin: 0 15px;
}

.u-section-2 .u-layout-wrap-4 {
  width: 1140px;
  margin: -13px -11px 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 232px;
}

.u-section-2 .u-container-layout-11 {
  padding: 6px 18px;
}

.u-section-2 .u-text-15 {
  margin: 0 6px 0 27px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 232px;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 5px;
}

.u-section-2 .u-image-3 {
  width: 310px;
  height: 268px;
  margin: -4px auto -32px 0;
}

.u-section-2 .u-text-16 {
  text-decoration: underline !important;
  margin: 0 940px 0 54px;
}

.u-section-2 .u-text-17 {
  margin: 8px 15px 0 54px;
}

.u-section-2 .u-btn-3 {
  font-size: 20.25px;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  font-size: 20.25px;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-18 {
  margin: 14px 15px 0 34px;
}

.u-section-2 .u-text-19 {
  text-decoration: underline !important;
  margin: 13px 54px 0;
}

.u-section-2 .u-text-20 {
  margin: -1px 16px 0 54px;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 649px;
  height: auto;
}

.u-section-2 .u-container-layout-13 {
  padding: 0 0 30px;
}

.u-section-2 .u-layout-wrap-5 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 438px;
}

.u-section-2 .u-container-layout-14 {
  padding: 0;
}

.u-section-2 .u-text-21 {
  margin: 0 0 0 30px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 438px;
}

.u-section-2 .u-container-layout-15 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 375px;
  height: 437px;
  margin: 0 54px -67px auto;
}

.u-section-2 .u-text-22 {
  text-decoration: underline !important;
  margin: -10px 401px 0 38px;
}

.u-section-2 .u-text-23 {
  margin: 0 11px 0 38px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 507px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-2 .u-gallery-1 {
    width: 363px;
    margin-bottom: 0;
    margin-right: auto;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 507px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 326px;
  }

  .u-section-2 .u-image-1 {
    width: 291px;
    height: 287px;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 507px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 565px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    font-size: 20.25rem;
  }

  .u-section-2 .u-btn-2 {
    font-size: 20.25rem;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 565px;
  }

  .u-section-2 .u-image-2 {
    width: 251px;
    height: 387px;
  }

  .u-section-2 .u-video-1 {
    width: 251px;
    height: 197px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 507px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 930px;
    margin-top: 14px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 239px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 239px;
  }

  .u-section-2 .u-image-3 {
    width: 272px;
    height: 235px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-right: 750px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 44px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 20.25rem;
  }

  .u-section-2 .u-btn-4 {
    font-size: 20.25rem;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 14px;
    margin-right: -34px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 44px;
  }

  .u-section-2 .u-accordion-pane-5 {
    min-height: 788px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
  }

  .u-section-2 .u-layout-wrap-5 {
    margin-top: 15px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 486px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 361px;
  }

  .u-section-2 .u-image-4 {
    width: 313px;
    height: 365px;
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-top: 0;
    margin-right: 232px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-top: 11px;
    margin-right: 0;
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-gallery-1 {
    width: 267px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 710px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 246px;
  }

  .u-section-2 .u-image-1 {
    width: 215px;
    height: 212px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 710px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 189px;
    height: 291px;
  }

  .u-section-2 .u-video-1 {
    width: 189px;
    height: 148px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 1030px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 183px;
  }

  .u-section-2 .u-image-3 {
    width: 206px;
    height: 178px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 533px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 5px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 11px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 8px;
    margin-right: -41px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-20 {
    margin-top: 5px;
    margin-left: 41px;
  }

  .u-section-2 .u-accordion-pane-5 {
    min-height: 989px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 0;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 710px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 277px;
  }

  .u-section-2 .u-image-4 {
    width: 237px;
    height: 276px;
  }

  .u-section-2 .u-text-22 {
    margin-top: 11px;
    margin-right: 514px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-23 {
    margin-top: -1px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 896px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-gallery-1 {
    height: 393px;
    margin-bottom: -24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 896px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 381px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 421px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    width: 398px;
    height: 392px;
    margin-right: auto;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 896px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 648px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 235px;
    height: 361px;
    margin-left: 0;
  }

  .u-section-2 .u-video-1 {
    width: 226px;
    height: 292px;
    margin-top: -326px;
    margin-right: 30px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 896px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 20px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 326px;
  }

  .u-section-2 .u-image-3 {
    width: 355px;
    height: 306px;
    margin-top: 8px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 365px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 0;
    margin-left: 29px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-right: 5px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 29px;
  }

  .u-section-2 .u-accordion-pane-5 {
    min-height: 896px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .u-section-2 .u-layout-wrap-5 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 383px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 439px;
  }

  .u-section-2 .u-image-4 {
    width: 377px;
    height: 439px;
    margin-bottom: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-22 {
    margin-top: -9px;
    margin-right: 344px;
    margin-left: 0;
  }

  .u-section-2 .u-text-23 {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 1070px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 319px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-over-slide-1 {
    width: 340px;
  }

  .u-section-2 .u-over-slide-2 {
    width: 340px;
  }

  .u-section-2 .u-over-slide-3 {
    width: 340px;
  }

  .u-section-2 .u-over-slide-4 {
    width: 340px;
  }

  .u-section-2 .u-over-slide-5 {
    width: 340px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 1070px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 265px;
  }

  .u-section-2 .u-image-1 {
    width: 310px;
    height: 305px;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 1070px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 31px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 289px;
  }

  .u-section-2 .u-image-2 {
    width: 176px;
    height: 271px;
  }

  .u-section-2 .u-video-1 {
    width: 145px;
    height: 279px;
    margin-top: -271px;
    margin-right: 7px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 1070px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 330px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 199px;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 276px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 194px;
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-2 .u-text-19 {
    margin-left: -5px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-2 .u-accordion-pane-5 {
    min-height: 1070px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 276px;
  }

  .u-section-2 .u-image-4 {
    width: 330px;
    height: 384px;
  }

  .u-section-2 .u-text-22 {
    margin-top: 10px;
    margin-right: 144px;
  }

  .u-section-2 .u-text-23 {
    margin-top: 5px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 64px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}